<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
			rel="stylesheet" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<title>Document</title>
	</head>
	<body>
		<nav class="navbar">
			<button onclick="toggleMenu()" class="burger btn"></button>
			<a href="/book/getAllBooks" class="button a">Home</a>
			<div class="dropdowns">
				<div class="dropdown">
					<a href="/book/createBookF" class="button a">Create a new Book</a>
				</div>
				<div class="dropdown">
					<a href="/users/createUser" class="button a">Log Out</a>
				</div>
					<!-- <div class="dropdown">
					<a href="/users/createUser" class="button a">Log In</a>
				</div> -->
			</div>
		</nav>

