<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
			rel="stylesheet" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<title>Document</title>
	</head>
	<body>
		<nav class="navbar">
            <h3>Welcome To Olokor's Library App</h3>

		</nav>
		<div class="head">
			<h1 class="header-text1">WELCOME TO</h1>
			<h1 class="header-text2">📖. MY LIBRARY .📖</h1>
            <a href="/users/createUser"> PLEASE SIGN IN</a>
			<hr class="hr">
		</div>
<%- include('footer'); -%>